# sensitive files
*.env

# build files
.tsbuildinfo
.wireit/
.wrangler/
dist/
public/favicons/
node_modules/
src/generated/

# test files
coverage/
lighthouse-report/
playwright-report/

# terraform
.terraform
*.tfstate


