---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Home' description='Change me'>
  <section>
    <div class='center column h-viewport'>
      <h2>Call to Action!</h2>
      <p class='subheading'>We do one thing and we do it amazingly</p>
      <a class='button' href='/contact'>Contact Us</a>
    </div>
  </section>
  <section>
  <section>
    <h3>Amazing service #1</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni in culpa voluptate modi. A cupiditate perspiciatis dignissimos quos, labore optio temporibus facilis illum recusandae iure rem ad, tenetur dolore delectus?</p>
    <a href='/about'>Learn more about us <svg><use href='/svg/sprite.css.svg#i-arrow' /></svg></a>
  </section>
  <section>
    <h3>Customizable Solutions</h3>
    <p>Lorem ipsum</p>
    <ul class='carousel row gap'>
      {[1, 2, 3, 4].map((item) => (
        <li>
          <article class='card'>
            <h4>{item}</h4>
            <p>{item}</p>
          </article>
        </li>
      ))}
    </ul>
</Layout>

