<header>
  <nav>
    <ul>
      <li><a href="/"><svg href='svg/sprite.css.svg/logo'></svg></a></li>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </nav>
</header>
