---
import Site from '@ferment-ui/astro/layouts/Site.astro';
import Banner from '@ferment-ui/astro/components/Banner.astro'
import Footer from '@ferment-ui/astro/components/Footer.astro';
import { debug } from '../util/debug.js';
import config from '../../site.config.json' with { type: 'json' };

import type { Font } from '../env.d';

const { siteTitle, companyLegalName } = config;

const { title, description } = Astro.props.frontmatter || Astro.props;

// set up the fonts to download
let fonts: Font[] = [];
if (import.meta.env.SSR) {
  const { getFonts } = await import('../util/fonts.js');
  fonts = (await getFonts()) ?? [];
} else {
  // if we're not in SSR, need to manually populate this
  fonts = [];
}

debug('Fonts:', fonts);
---

<Site
  siteTitle={siteTitle}
  title={title}
  description={description}
>
  <Banner slot='banner' role='banner'>
    <nav>
      <ul>
        <li><a href='https://google.com'>Google</a></li>
        <li><a href='https://example.org'>Example.org</a></li>
      </ul>
    </nav>
  </Banner>
  <slot />
  <Footer companyLegalName={companyLegalName}>

  </Footer>
</Site>
